.top_nav{
    background-color: #404040;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    border-radius: 7px;
    display: flex;
  }
  .search_box{
    background-color: #262626;
    border-radius: 7px;
    font-style: italic;
    width: 20rem;
    height: fixed;
  }
  
  .bg_01{
    background-color: #3B3838;
    padding: .5rem;
    border-radius: 7px;
    margin-left: 6px;
  }
  .name_01{
    font-family: 'Edwardian Script ITC';
    font-style: italic;
    color: rgba(230, 224, 224, 0.658);
    background-color: #404040;
    padding-right: 1rem;
    padding-left:  1rem;
  }
  .profile{
    height: 2rem;
    width: 2rem;
    border-radius: 150px;
  }
  .section_03{
    display:flex;
    margin-left: auto; 
    margin-right: 1rem;
  }
  .top_nav_bg{
    background-color: #404040;
  }